<!--
> Muaz Khan       - wwww.MuazKhan.com
> MIT License     - www.WebRTC-Experiment.com/licence
> Upgrade by Paulo Ouriques
> Documentation   - github.com/muaz-khan/WebRTC-Experiment/tree/master/video-conferencing
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebRTC Video Conferencing</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="author" type="text/html" href="https://plus.google.com/+MuazKhan">
    <meta name="author" content="Muaz Khan">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="title" content="Video Conferencing"/>
    <meta name="description" content="Video Conferencing using WebRTC."/>


    <script>
        document.createElement('article');
        document.createElement('footer');
    </script>

    <!-- scripts used for video-conferencing -->
    <script src="../public/javascripts/firebase.js"></script>
    <script src="../public/javascripts/RTCPeerConnection-v1.5.js"></script>
    <script src="../public/javascripts/conference.js"></script>

    <!-- script used to stylize video element -->
    <script src="../public/javascripts/getMediaElement.min.js"></script>

</head>

<body onload="sh_highlightDocument();">
<article>
    <div class="github-stargazers"></div>

    <!-- just copy this <section> and next script -->
    <section class="experiment">
        <section>
            <button style="width:100px; margin:-20px -50px; position:relative; top:50%; left:50%;" id="setup-new-room" class="setup">Setup New Conference</button>
        </section>

        <!-- list of all available conferencing rooms -->
        <table style="width: 100%;" id="rooms-list"></table>

        <!-- local/remote videos container -->
        <div id="videos-container"></div>
    </section>

    <script>
        // Muaz Khan     - https://github.com/muaz-khan
        // MIT License   - https://www.webrtc-experiment.com/licence/
        // Documentation - https://github.com/muaz-khan/WebRTC-Experiment/tree/master/video-conferencing

        let config = {
            openSocket: function (config) {
                let channel = "endostreamer-channel";
                let socket = new Firebase('https://webrtc.firebaseio.com/' + channel);
                socket.channel = channel;
                socket.on("child_added", function (data) {
                    config.onmessage && config.onmessage(data.val());
                });
                socket.send = function (data) {
                    this.push(data);
                };
                config.onopen && setTimeout(config.onopen, 1);
                socket.onDisconnect().remove();
                return socket;
            },
            onRemoteStream: function (media) {
                let mediaElement = getMediaElement(media.video, {
                    width: (videosContainer.clientWidth / 2) - 50,
                    buttons: ['mute-audio', 'mute-video', 'full-screen', 'volume-slider']
                });
                mediaElement.id = media.streamid;
                videosContainer.insertBefore(mediaElement, videosContainer.firstChild);
            },
            onRemoteStreamEnded: function (stream, video) {
                if (video.parentNode && video.parentNode.parentNode && video.parentNode.parentNode.parentNode) {
                    video.parentNode.parentNode.parentNode.removeChild(video.parentNode.parentNode);
                }
            },
            onRoomFound: function (room) {
                let alreadyExist = document.querySelector('button[data-broadcaster="' + room.broadcaster + '"]');
                if (alreadyExist) return;

                if (typeof roomsList === 'undefined') roomsList = document.body;

                let tr = document.createElement('tr');
                tr.innerHTML = '<td><strong>' + room.roomName + '</strong> shared a conferencing room with you!</td>' +
                        '<td><button class="join">Join</button></td>';
                roomsList.insertBefore(tr, roomsList.firstChild);

                let joinRoomButton = tr.querySelector('.join');
                joinRoomButton.setAttribute('data-broadcaster', room.broadcaster);
                joinRoomButton.setAttribute('data-roomToken', room.roomToken);
                joinRoomButton.onclick = function () {
                    this.disabled = true;

                    let broadcaster = this.getAttribute('data-broadcaster');
                    let roomToken = this.getAttribute('data-roomToken');
                    captureUserMedia(function () {
                        conferenceUI.joinRoom({
                            roomToken: roomToken,
                            joinUser: broadcaster
                        });
                    }, function () {
                        joinRoomButton.disabled = false;
                    });
                };
            },
            onRoomClosed: function (room) {
                let joinButton = document.querySelector('button[data-roomToken="' + room.roomToken + '"]');
                if (joinButton) {
                    // joinButton.parentNode === <li>
                    // joinButton.parentNode.parentNode === <td>
                    // joinButton.parentNode.parentNode.parentNode === <tr>
                    // joinButton.parentNode.parentNode.parentNode.parentNode === <table>
                    joinButton.parentNode.parentNode.parentNode.parentNode.removeChild(joinButton.parentNode.parentNode.parentNode);
                }
            }
        };

        function setupNewRoomButtonClickHandler() {
            btnSetupNewRoom.disabled = true;
            captureUserMedia(function () {
                conferenceUI.createRoom({
                    roomName: 'Endostreamer'
                });
            }, function () {
                btnSetupNewRoom.disabled = false;
            });
        }

        function captureUserMedia(callback, failure_callback) {
            let video = document.createElement('video');

            getUserMedia({
                video: video,
                onsuccess: function (stream) {
                    config.attachStream = stream;
                    callback && callback();

                    video.setAttribute('muted', true);

                    let mediaElement = getMediaElement(video, {
                        width: (videosContainer.clientWidth / 2) - 50,
                        buttons: ['mute-audio', 'mute-video', 'full-screen', 'volume-slider']
                    });
                    mediaElement.toggle('mute-audio');
                    videosContainer.insertBefore(mediaElement, videosContainer.firstChild);
                },
                onerror: function () {
                    alert('unable to get access to your webcam');
                    callback && callback();
                }
            });
        }

        let conferenceUI = conference(config);

        /* UI specific */
        let videosContainer = document.getElementById('videos-container') || document.body;
        let btnSetupNewRoom = document.getElementById('setup-new-room');
        let roomsList = document.getElementById('rooms-list');

        if (btnSetupNewRoom) btnSetupNewRoom.onclick = setupNewRoomButtonClickHandler;

        function rotateVideo(video) {
            video.style[navigator.mozGetUserMedia ? 'transform' : '-webkit-transform'] = 'rotate(0deg)';
            setTimeout(function () {
                video.style[navigator.mozGetUserMedia ? 'transform' : '-webkit-transform'] = 'rotate(360deg)';
            }, 1000);
        }


        function scaleVideos() {
            let videos = document.querySelectorAll('video'),
                    length = videos.length, video;

            let minus = 130;
            let windowHeight = 700;
            let windowWidth = 600;
            let windowAspectRatio = windowWidth / windowHeight;
            let videoAspectRatio = 4 / 3;
            let blockAspectRatio;
            let tempVideoWidth = 0;
            let maxVideoWidth = 0;

            for (let i = length; i > 0; i--) {
                blockAspectRatio = i * videoAspectRatio / Math.ceil(length / i);
                if (blockAspectRatio <= windowAspectRatio) {
                    tempVideoWidth = videoAspectRatio * windowHeight / Math.ceil(length / i);
                } else {
                    tempVideoWidth = windowWidth / i;
                }
                if (tempVideoWidth > maxVideoWidth)
                    maxVideoWidth = tempVideoWidth;
            }
            for (let i = 0; i < length; i++) {
                video = videos[i];
                if (video)
                    video.width = maxVideoWidth - minus;
            }
        }

        window.onresize = scaleVideos;

    </script>
</article>


</body>
</html>
