@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: 'Myriad';
  src: url('https://www.webrtc-experiment.com/fonts/MyriadPro-Light.otf') format('opentype');
  font-weight: 400;
}

html {
  background: #eee;
}

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Open Sans', 'Myriad', 'Arial';
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
}

article, footer {
  display: block;
  max-width: 900px;
  min-width: 360px;
  width: 80%;
}

article {
  background: #fff;
  border: 1px solid;
  border-color: #ddd #aaa #aaa #ddd;
  margin: 2.5em auto 0 auto;
  padding: 2em;
}

h1 {
  margin-top: 0;
}

article p:first-of-type {
  margin-top: 1.6em;
}

article p:last-child {
  margin-bottom: 0;
}

footer {
  margin: 0 auto 2em auto;
  text-align: center;
}

footer a {
  color: #666;
  font-size: inherit;
  padding: 1em;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
}

footer a:hover, footer a:focus {
  color: #111;
}

h1, h2 {
  border-bottom: 1px solid rgb(189, 189, 189);
  display: inline;
  font-weight: normal;
  line-height: 36px;
  padding: 0 0 3px 0;
}

a {
  color: #2844FA;
  text-decoration: none;
}

a:hover, a:focus {
  color: #1B29A4;
}

a:active {
  color: #000;
}

:-moz-any-link:focus {
  border: 0;
  color: #000;
}

::selection {
  background: #ccc;
}

::-moz-selection {
  background: #ccc;
}

button, input[type=button] {
  -moz-border-radius: 3px;
  -moz-transition: none;
  -webkit-transition: none;
  background: #0370ea;
  background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
  background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: inherit;
  font-size: .8em;
  line-height: 1.3;
  padding: 5px 12px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  font-size: 1.5em;
}

button:hover, input[type=button]:hover {
  background: rgb(9, 147, 240);
}

button:active, input[type=button]:active {
  background: rgb(10, 118, 190);
}

button[disabled], input[type=button][disabled] {
  background: none;
  border: 1px solid rgb(187, 181, 181);
  color: gray;
  text-shadow: none;
}

strong {
  color: rgb(204, 14, 14);
  font-family: inherit;
  font-weight: normal;
}

tr, td, th {
  vertical-align: top;
  padding: .7em 1.4em;
  border-top: 1px dotted #BBA9A9;
  border-right: 1px dotted #BBA9A9;
}

table, tbody, tr, td {
  width: 100%!important;
}

.table-style {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  display: block;
  width: 728px;
  overflow: auto;
  word-break: normal;
  color: rgb(51, 51, 51);
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 25.6000003814697px;
"><thead><tr style="border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
}
.tr-style {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
  background-color: rgb(248, 248, 248);
}
.td-style {
  padding: 6px 13px;
  border: 1px solid rgb(221, 221, 221);
}
.td-style2 {
  color: rgb(65, 131, 196);
  text-decoration: none;
  background: transparent;
}

.logo img {
  border-radius: 50%;
  box-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.experiment {
  border: 1px solid rgb(189, 189, 189);
  margin: 1em 3em;
  border-radius: .2em;
  text-align: left;
}

.experiment .header {
  padding: .2em .4em;
}

.experiment .description {
  padding: .8em 1.4em;
}

ol {
  margin-left: 1em;
}

pre {
  border-left: 2px solid red;
  margin-left: 2em;
  padding-left: 1em;
  overflow: auto;
}

.commit {
  font-size: .8em;
  margin: 1em .6em;
  padding: 8px 8px 0;
  background: #e6f1f6;
  border: 1px solid #c5d5dd;
  border-radius: 4px;
}

.commit-desc {
  display: block;
  margin: -5px 0 10px 0;
}

.commit-desc img {
  max-width: 100%;
}

.commit-meta {
  margin-left: -8px;
  width: 100%;
  padding: 8px;
  background: #fff;
  border-top: 1px solid #d8e6ec;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.authorship {
  margin-top: -2px;
  margin-left: -4px;
  margin-bottom: -4px;
  font-size: 14px;
  color: #999;
}

.gravatar {
  margin-top: -2px;
  margin-right: 3px;
  vertical-align: middle;
  border-radius: 3px;
}

.author-name {
  color: #444;
}

.commit-url {
  float: right;
  margin-left: 15px;
  color: #888;
  font-size: 12px;
}

.dim {
  color: rgb(223, 223, 223);
}

.roshan {
  color: red;
}

.github-stargazers {
  position: absolute;
  right: 14%;
  top: 8%;
  font: bold 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

.github-btn {
  height: 20px;
  overflow: hidden;
}

.gh-btn,
.gh-count,
.gh-ico {
  float: left;
  margin-left: 5px;
}

.gh-btn,
.gh-count {
  padding: 2px 5px 2px 4px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 3px;
}

.gh-btn {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -ms-linear-gradient(#fafafa, #eaeaea);
  background-image: -o-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: no-repeat;
  border: 1px solid #d4d4d4;
  border-bottom-color: #bcbcbc;
}

.gh-btn:hover,
.gh-btn:focus,
.gh-btn:active {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: #518cc6 #518cc6 #2a65a0;
  background-color: #3072b3;
}

.gh-btn:hover,
.gh-btn:focus {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -webkit-linear-gradient(#599bdc, #3072b3);
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3);
  background-image: -ms-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

.gh-btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
  -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
  box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
}

.gh-btn:hover .gh-ico,
.gh-btn:focus .gh-ico,
.gh-btn:active .gh-ico {
  background-position: -25px 0;
}

.gh-count {
  position: relative;
  margin-left: 0px;
  background-color: #fafafa;
  border: 1px solid #d4d4d4;
}

.gh-count:hover,
.gh-count:focus {
  color: #4183C4;
}

.gh-count:before,
.gh-count:after {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.gh-count:before {
  top: 50%;
  left: -3px;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #fafafa;
}

.gh-count:after {
  top: 50%;
  left: -4px;
  z-index: -1;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #d4d4d4;
}

.github-btn-large {
  height: 30px;
}

.github-btn-large .gh-btn,
.github-btn-large .gh-count {
  padding: 3px 10px 3px 8px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
}

.github-btn-large .gh-ico {
  width: 22px;
  height: 23px;
  background-position: 0 -20px;
}

.github-btn-large .gh-btn:hover .gh-ico,
.github-btn-large .gh-btn:focus .gh-ico,
.github-btn-large .gh-btn:active .gh-ico {
  background-position: -25px -20px;
}

.github-btn-large .gh-count {
  margin-left: 6px;
}

.github-btn-large .gh-count:before {
  left: -5px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
}

.github-btn-large .gh-count:after {
  left: -6px;
  margin-top: -7px;
  border-width: 7px 7px 7px 0;
}

.plusone-gplus {
  position: absolute;
  top: 8%;
}

@media all and (max-width: 800px) {
  body {
    font-size: 1.1em;
  }

  article {
    margin: 1.5em auto 0 auto;
    padding: 1.5em;
  }

  .experiment {
    margin: 1em .2em;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: .9em;
  }

  article {
    margin: .5em auto 0 auto;
    padding: .5em;
  }

  .experiment {
    margin: 1em .1em;
  }
}

@media all and (max-width: 300px) {
  body {
    font-size: .8em;
  }

  article {
    margin: 0 auto 0 auto;
    padding: 0;
  }

  .experiment {
    margin: 1em 0;
  }
}

@media all and (min-width: 1300px) {
  .latest-commits {
    position: fixed;
    left: -3em;
    bottom: -1em;
    height: 50%;
    overflow: auto;
    width: 20%;
    font-size: 1em;
  }
}

li pre {
  margin: 0;
}

li h2 {
  color: red;
}

li li h2 {
  font-size: 1em;
  color: rgb(6, 101, 243);
}

.fork-left, .fork-right {
  background-repeat: no-repeat;
  background-position: center center;
  width: 140px;
  height: 140px;
}

.fork-left {
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://cdn.webrtc-experiment.com/images/fork-left.png');
}

.fork-right {
  position: absolute;
  top: 0;
  right: 0;
  background: url('https://cdn.webrtc-experiment.com/images/fork-right.png');
}

select {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  height: 50px;
  margin-left: 1em;
  margin-right: -5px;
  padding: 1.1em;
  vertical-align: 6px;
}

p {
  padding: 0 .8em;
  padding-bottom: .4em;
}

li {
  border-bottom: 1px solid rgb(189, 189, 189);
  border-left: 1px solid rgb(189, 189, 189);
  padding: .5em;
}

code {
  font-size: 1.2em;
}

.commit pre {
  border: 1px dotted black;
  margin: 1em;
  font-size: 1.2em;
}

blockquote {
  background: rgb(241, 241, 241);
  padding: 1em;
  border: 1px dotted gray;
  margin: 0 1em;
}

.answer {
  border-left: 1px dotted gray;
  margin-left: 5em;
  padding: 0 1em;
}

pre a {
  text-decoration: underline;
}

blockquote.inline {
  margin: 1em;
  border-radius: 3px;
  box-shadow: 2px 2px rgb(182, 170, 170);
}